#footer{
    width:100%;
}
#footer>div>div{
    justify-content: space-between;
}
.social-icons{
    margin-bottom: 1em;;
}
.social-icons>img{
    padding:0.5em;
    width:5.6em;
    height:auto;
    cursor:url("../images/hand.png"),auto;
}
.footer-list{
    margin:auto;
    align-self: center;
    margin-left: 3.5em;
    z-index:101;
    min-width:500px;
}
.footer-list>li{
    padding:0.5em;
    cursor:url("../images/hand.png"),auto !important;
}
.footer-logo{
    width:40%;
    height:auto;
}
#footer>div>div{
    align-self: center;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}
.footer-downloader{
    align-self: center;
    justify-content: right;
    width:100%;
    cursor:url("../images/hand.png"),auto;
}
.one , .two{
    font-size:10px;
}
.one{
    padding:10px;
}
@media screen and (max-width:1000px){
    #footer>div>div{
        flex-direction: column-reverse;
    }
    .social-icons>img{
        padding:0.5em;
        width:5em;
        height:auto;
    }
    .download{
        width:30em;
        align-self: center;
        margin-left: 3em;
    }
    .social-icons{
        align-self: center;
    }
    .footer-logo{
        align-self: center;
        text-align: center;
        width:40%;
        height:auto;
        margin-top:3em;
        margin-bottom:3em;
    }
    #footer>div>div>div{
        align-self: center;
        text-align: center;
        margin:auto;
    }
    .footer-list{
        margin:auto;
    }
}

@media screen and (max-width:600px){
    .social-icons>img{
        padding:0.4em;
        width:4em;
        height:auto;
    }
    .download{
        width:35em;
        transform:translateX(-100px);
        margin-bottom: 3em;
    }
    .social-icons{
        align-self: center;
    }
    #footer>div>div>div, .footer-logo{
        align-self: center;
        text-align: center;
    }
    .footer-list{
        max-width:44vw;
        display:grid;
        grid-template-columns: repeat(2, 0.3fr);
        margin:0;
        text-align: center;
        margin-left:50vw;
    }
    .footer-list>li{
        padding:0;
        margin:0;
        text-align: center;
        padding-top:20px;
    }
}
.blog_footer:hover , .social-icons:hover, .footer-list>li>a:hover{
    cursor:url("../images/hand.png"),auto;;
}
