#header{
    height:100px;
    width:90vw;
    margin-left:5vw;
    margin-right: 5vw;
    overflow:hidden;
    transition: 1.5s all ease;
}
.navbar{
    justify-content: space-between;
    padding:2em 5em 1em 5em;
}
.navbar>img{
    width:272px !important;
    height:36px !important;
}

@media only screen and (max-width:1000px) {
    .navbar > img{
        position: relative;
        align-self: left;
        transform:scale(0.8);
        z-index:3465;
    }
    .nav-items{
        position:absolute;
        display: flex;
        flex-direction: column;
        background-color: black;
        width:100vw;
        margin:0;
        padding:0;
        top:0;left:0;
        padding-top:9em;
        height:100vh;
        animation: alert-box 0.3s ease;
        position:fixed;
        z-index:1000000000000000;
    }
    .nav-items>li{
        align-self: center;
        place-items: center;
        top:1em;
        padding: 1em;
        transition:0.5s;
        animation: alert-box 0.1s ease;
    }
}
img{
    display:block;
}
.navbar > ul > li{
    margin:0.5em 1em 0 1em;
}
.navbar > img{
    width:330px;
    height:auto;
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (max-width:600px) {
    .navbar{
        padding-top:2em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:2em;
        padding:0;
    }
    .navbar > img{
        align-self: left;
        transform:scale(0.7);
        padding-bottom:1em;
    }
    #header{
        height:130px;
    }
    .nav-items{
        height:100vh;
        animation: alert-box 0.3s ease;
        position:fixed;
    }
    .navbar>img{
        width:272px !important;
        height:48px !important;
    }
}
.nav-items>li:hover , .nav-items>li>a:hover{
    cursor:url("../images/hand.png"),auto;
}
.hidden{
    opacity:0;
    display:none;
}
#ham-burg{
    left:1.2em;
    top:2.5em;
    transition: 0.4s;
    z-index:1000000000000000;
}
.no-touch{
    touch-action: none;
}
.custom-alert-box {
    animation: alert-box 0.3s ease;
    position: absolute;
    top: 0%;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--purple);
  }
  @keyframes alert-box {
    0% {
      top: -10%;
    }
    100% {
      top: 0%;
    }
  }