#make_the_move{
    margin-bottom:100px;
    text-align: center;
    padding:20px;
}
#make_the_move>div>h1{
    font-size: 4em;
    margin-bottom: 0.8em;
}
#make_the_move>div>button{
    width: 30%;
    align-self: center;
    margin-top: 1.5em;
    margin-bottom: 12em;
    font-size: 1.5em;
    padding:0.7em;
}
#make_the_move>div>img{
    width:40%;
    align-self: center;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 20px;
}

@media screen and (max-width:1000px){
    #make_the_move>div>h1{
        font-size: 3em;
    }
    #make_the_move>div>button{
        width:fit-content;
    }
}
@media screen and (max-width:600px){
    #make_the_move>div>h1{
        font-size: 2.5em;
    }
    #make_the_move>div>img{
        width:50%;
    }
}