#what_we_offer{
    margin-top:8em;
}
#what_we_offer > h1{
    text-align: center;
    padding:20px;
    font-size: 3.5em;
}
.offer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}
.offer-element{
    padding:10px;
    width:360px;
    height:257px;
    background-image: url('../images/what_we_offer/what_we_offer_card.avif');
    background-repeat: no-repeat;
    background-size: contain;
}
.offer-element > div{
    position: absolute;
    bottom:1.5em;
    width:90%;
    padding:10px;
}
.offer-element > div > h2{
    font-size: 2em;
    margin-bottom: 5px;
}
.offer-element>img{
    right:1em;
}

@media screen and (max-width:1000px){
    #what_we_offer > h1{
        font-size: 3em;
    }
    .offer-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .offer-element{
        max-width:70vw;
    }
}
@media screen and (max-width:600px){
    .offer-element{
        margin:auto;
        margin-left: 1.1em;
        margin-right: 1.5em;
        margin-top: 25px;
        transform: scale(1.1);
    }
    .offer-container{
        height:auto;
        overflow-y: hidden;
    }
    #what_we_offer > h1{
        font-size: 2.2em;
    }
    .offer-element > img{
        width:30%;
        height:auto;
        transform: scale(0.9);
    }
    .offer-element>div>h2{
        font-size: 1.8em;
    }
    .offer-element>div>p{
        font-size: 0.8em;
        margin-left: -0.5em;
    }
    .offer-element>div{
        bottom:5em;
    }
    #nope{
        margin-top: 0;
    }
}