.start-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 95vw;
}
.start-element{
    border:solid 1px red;
    max-width:25vw;
}
.start-element>img{
    width:4em;
    height:4em;
    padding:10px;
}
.start-element>div{
    margin-top: 10px;
}
#how_to_start > h1{
    text-align: center;
    padding:20px;
    font-size: 3.5em;
}
@media screen and (max-width:1000px){
    .start-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .start-element{
        max-width:40vw;
    }
    #how_to_start > h1{
        font-size: 3em;
    }
}
@media screen and (max-width:600px){
    .start-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .start-element{
        max-width:85vw;
    }
    #how_to_start > h1{
        font-size: 2.5em;
    }
}