#testimonials{
    margin-bottom:8em;
    width:70vw;
}
#testimonials > h1{
    text-align: center;
    padding:20px;
    font-size: 4em;
    margin-bottom: 1.5em;
}
#testimonials > img{
    z-index:-10;
}
.testimonials-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap:-4em;
}
.testimonials-element{
    margin:auto;
}
.testimonials-element > img{
    width:440px;
    height:auto;
    padding:0;
}
@media screen and (max-width:1000px){
    #testimonials > h1{
        font-size: 3em;
    }
    .testimonials-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonials-element > img{
        width:400px;
        height:auto;
    }
}
@media screen and (max-width:600px){
    #testimonials > h1{
        font-size: 2.5em;
    }
    
    .testimonials-element > img{
        width:360px;
        height:auto;
    }
    #testimonials{
        margin-bottom:8em;
        width:100vw;
    }
}