#testimonials{
    margin-top:10em;
    margin-bottom:10em;
    padding:10px;
}
#testimonials > h1{
    text-align: center;
    padding:20px;
    font-size: 3.5em;
}
.testimonials-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
.testimonials-element{
    margin:auto;
}
.testimonials-element > img{
    width:450px;
    height:auto;
}
@media screen and (max-width:1000px){
    #testimonials > h1{
        font-size: 3em;
    }
    .testimonials-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .testimonials-element > img{
        width:400px;
        height:auto;
    }
}
@media screen and (max-width:600px){
    #testimonials > h1{
        font-size: 2.5em;
    }
    
    .testimonials-element > img{
        width:360px;
        height:auto;
    }
}